<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go-Mix</title>
    <link rel="stylesheet" href="{{.CSS}}">
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script src="{{.JS}}"></script>
  </html>
